/*
  Name: Isaac Yeoh
  Date: June 8th, 2025
  Organization: Zhao Lab
  This is the stylesheet for home.html. It contains the styles
  pertaining to the sidebar, the homepage, and more.
*/


.center-title {
    display: flex;
    font-size: 1rem;
    background-color: #052049;
    margin-top: 0;
}

.text-color {
    color: #E1E3E5;
}

.side-panel {
  width: 20%;

}

.menu-icon:hover{
  cursor:pointer
}